* {
	margin:0px;
	padding:0px;
	border:0px;
	color:#0c0;
	font-family: "Lucida Console", monaco, monospace;
	overflow: wrap;
	word-break:break-all;}

body {
	background-color: black;
}

#past div div {
	display: inline;
}

#present div {
	display: inline;
}

#cursor {
	height:100%;
	background-color:#0c0;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}
